body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.w-1rem {
  width: 1rem;
}
.w-4rem {
  width: 4rem;
}
.w-5rem {
  width: 5rem;
}
.w-6rem {
  width: 6rem;
}
.w-8rem {
  width: 8rem;
}
.w-10rem {
  width: 10rem;
}
.error {
  margin-top: 5px;
  margin-left: 4rem;
  padding: 0;
}
.error-left {
  margin-top: 5px;
  margin-left: -1rem;
  padding: 0;
}
.h-15 {
  height: 1.5rem;
}
#top td, #meal td {
  height: 6rem;
  padding: 0;
}
#top .no-link, #meal .no-link {
  height: 6rem;
  padding: 0.5rem;
  vertical-align: middle;
}
#top td>a, #meal td a {
  display: flex;
  padding: 0.5rem;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
#top td>a:hover, #meal td a:hover {
  background-color: grey;
}#top td>a:active, #meal td a:active {
  background-color: grey;
}
.middle {
  display: flex;
  align-items: center;
}
.inline-table {
  display: inline-table;
}
.half-size {
  font-size: 0.5rem;
}